.App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
#MultiviewContainer{
    height: calc(100%);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col2{
    float: left;
    width: 50%;
}
.dropdown-menu{
    padding: 16px 32px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}